<%= form_for :session, url: session_path do |form| %>
  <div class="text-field ui large input left icon">
    <%= form.email_field :email, placeholder: "Email" %>
    <i class="mail outline icon"></i>
  </div>
  <br />
  <div class="password-field ui large input left icon">
    <%= form.password_field :password, placeholder: "Password" %>
    <i class="privacy icon"></i>
  </div>
  <div class="submit-field">
    <%= form.submit "Sign in", class: "ui button" %>
  </div>
  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
