<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email %>
</div>

<div class="dropdown">
  <%= form.label "Join an organisation" %>
  <%= form.collection_select(:organisation_id, Organisation.all, :id, :code) %>
  <!-- <%= link_to("or create a new one", "", class: "add_organisation") %> -->
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
