<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email %>
</div>

<div class="text-field">
  <%= form.label :organisation %>
  <%= form.text_field :organisation %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
