<div class="ui large inverted secondary menu">
  <%= link_to t(:home, scope: :menu), root_path, class: "item" %>
  <%= link_to t(:pictures, scope: :menu), pictures_path, class: "item" %>
  <a class="item"><%= t(:boards, scope: :menu) %></a>
  <a class="item"><%= t(:games, scope: :menu) %></a>

  <%= render partial: "/home/right_menu" %>
</div>
