<!DOCTYPE html>
<html>
  <head>
    <title>Bingobingo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="pushable">
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="ui container">
        <%= render partial: '/home/menu' %>
    </div>

    <%= yield %>

  </body>
</html>
